body 
{
  background-color: #ddb5c0;
  text-align: center;
}
h1 
{
  color: rgb(68, 0, 23);
  border-style: solid;
  border-color:rgb(68, 0, 23);  
  border-width:2px;
  padding: 10px;
}
#nome
{
  text-decoration: underline;
  font-size:40px;
  color: white;
  background: rgb(68, 0, 23);
}
a
{
  color: rgb(68, 0, 23);
  font-size: 20px;
  border-style: dashed;
  border-color: rgb(68, 0, 23);
  border-width: 2px;
  padding: 10px;
  border-radius: 20px;
}

p{
  color: rgb(87, 1, 19);
  word-spacing: 10px;
  font-variant: small-caps;
  font-size: 20px;
  font-family: Arial;
}

.informacoes{
    color: rgb(88, 45, 54);
    font-size: 18px;
}

